@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}